body {
  margin-top: 0;
  padding: 0;
  font-family: Inter;
  background-color: #f8f9fa;
}
h1 {
  font-size: clamp(2em, 5vw, 4em);
  text-align: center;
}
h2 {
  font-size: clamp(1.5em, 5vw, 3em);
}
h3 {
  font-size: clamp(1em, 5vw, 2em);
}

h4 {
  font-size: clamp(1em, 5vw, 2em);
}

.hero {
  margin: 0;
  padding-bottom: 3rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#daily-attempt-puzzle {
  padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1.5rem, 4vw, 3rem);
  font-size: clamp(0.75em, 5vw, 1em);
  cursor: pointer;
  text-align: justify;
  border-radius: 20px;
  white-space: nowrap;
  margin-top: clamp(-0.25rem, 5vh, -3rem);
  background-color: white;
}

#daily-attempt-puzzle:hover {
  background-color: rgba(255, 255, 255, 0);
  transition: 0.5s ease-in-out;
}

.button {
  opacity: 50;
}
.game-settings {
  padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1.5rem, 4vw, 3rem);
}

.game-settings.box {
  display: inline-block;
  text-align: right;
  width: 220px;
  margin-right: 10px;
}

.game,
#generatedWordToGuess {
}

#generatedWordToGuess {
  text-align: center;
}
#tempGameBox {
  /* font-size: 5em;
  display: flex;
  text-align: center;
  justify-content: center; */
  border: 2px solid black;
}

#innerGameBox {
  justify-self: center;
  text-align: center;
  align-items: center;
  text-transform: capitalize;
  display: flex;
  gap: 0.5rem;
}

.inputBox {
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
}

#usr-msg {
  /*border: 2px solid black; */
  justify-self: center;
}

#gameOutcome {
  justify-self: center;
}

#HowToPlay {
  justify-self: center;
}

.rules {
  padding: 2em;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  justify-content: center;
}
#ruleCards {
  position: relative;
  flex: 1;
  border-radius: 10px;
  height: 25em;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

#cardOne {
  width: 100%;
}

#cardOneInfo {
  justify-self: center;
  font-weight: 500;
}

#card-1-video {
  margin-top: -2.85em;
}
