body {
  margin-top: 0;
  padding: 0;
  font-family: Inter;
}
h1 {
  font-size: clamp(2em, 5vw, 4em);
  text-align: center;
}
h2 {
  font-size: clamp(1.5em, 5vw, 3em);
}
h3 {
  font-size: clamp(1.25em, 5vw, 2.5em);
}

.hero {
  margin: 0;
  padding-bottom: 3rem;
  border: 2px solid black;
  background-color: #f4faff;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.daily-attempt-puzzle {
  padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1.5rem, 4vw, 3rem);
  font-size: clamp(0.75em, 5vw, 1em);
  cursor: pointer;
  text-align: justify;
  border-radius: 20px;
  white-space: nowrap;
  margin-top: clamp(-0.25rem, 5vh, -3rem);
}

.game-settings {
  padding: clamp(0.5rem, 1.5vw, 0.75rem) clamp(1.5rem, 4vw, 3rem);
}

.game-settings.box {
  display: inline-block;
  text-align: right;
  width: 220px;
  margin-right: 10px;
}

.game,
#generatedWordToGuess {
  border: 2px solid black;
}

#generatedWordToGuess {
  text-align: center;
}
#tempGameBox {
  /* font-size: 5em;
  display: flex;
  text-align: center;
  justify-content: center; */
  border: 2px solid black;
}

#innerGame {
  border: 2px solid black;
  align-items: center;
  justify-self: center;
}

#innerGameBoxTemp {
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  border: 2px solid black;
  text-transform: capitalize;
}
